.formulary {
    padding: 1rem;
}

.outline-border {
    color: var(--title); 
    font-size: 14px;
    font-weight: 400;
    border: 1.5px solid #d3d3d3;
    padding: 16px 12px;
    margin-bottom: 16px;
}

.group-outline {
    width: 49%;
}
 
 .btn-login{
     border: none;
     background-color: var(--secondary);
 }
 
 .btn-login:hover {
     background-color: var(--hover-effect);
 }
 
 .btn-login:active {
     background-color: var(--active-effect);
 }
 
/* OK button */
.div-btn-ok {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.button-ok {
    border: none;
    background-color: var(--positive);
    min-width: 5rem;
    color: var(--white); 
    font-size: 16px;
    font-weight: 600;
}

.button-ok:hover {
    background-color: #5bd6a9;
}

.button-ok:active {
    background-color: #87ddbd;    
}
/* General Settings */
.btn-income,
.btn-outcome {
    background-color: transparent;
}

.btn-income:hover,
.btn-outcome:hover {
    border: none;
}

/* Income button */
.btn-income:hover {
    background-color: #d1dfd7;
}

/* Outcome button */
.btn-outcome:hover {
    background-color: #f0d2d2;
}

