.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-header, 
.list-group {
    padding: 0 48px;
}

.title{
    color: var(--title);
    font-weight: 400;
    font-size: 20px;
}

.red-value{
    color: var(--negative);
}

.green-value{
    color: var(--positive);
}

/* Cards items*/
.list-card {
    box-sizing: border-box;
    width: 100%;
}

.list-card-title,
.description,
.details {
    font-size: 14px;
}

.list-card-title {
    color: var(--title);
}

.description,
.details {
    color: var(--text);
}

.list-card-title,
.details {
    font-weight: 400;
}

.description {
    font-weight: 500;
}

.item-a { 
    background-color: var(--white);
    border: 12px solid var(--background);
    border-radius: 15px;
    padding: 0;
}

@media screen and (min-width: 992px) {
    .list{
        display: none;
    }
}



