.summary {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    transform: translateY(-50%);    
    flex-wrap: wrap;
    font: 400 normal 'Poppins';
}

.card {
    border: none;
    box-shadow: 0.5px 0.5px 2px black;
    width: 18rem;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 32px;
}


.white-card {
    color: var(--title);
}

.green-card {
    background-color: var(--positive);
    color: var(--white);
}