header, 
#offcanvas{
    background-color: var(--primary);
}

header {
    padding: 32px 160px 132px;
}

@media (max-width:1000px) {
    header {
        padding: 32px 48px 132px;
    }
}


#navbar {
    display: flex;
    justify-content: space-between;

}

.headerIcon, 
.name,
.btn-transaction {
   color: var(--white); 
   font-size: 16px;
   font-weight: 600;
}

.logo,
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btn-transaction{
    border: none;
    background-color: var(--secondary);
}

.btn-transaction:hover {
    background-color: var(--hover-effect);
}

.btn-transaction:active {
    background-color: var(--active-effect);
}
