
.row-title{
    color: var(--text);
    font-weight: 400;
}

.row-item { 
    background-color: var(--white);
}

tr {
    border: 6px solid var(--background);
}

.red-value{
    color: var(--negative);
}

.green-value{
    color: var(--positive);
}

@media screen and (max-width: 992px) {
    .table{
        display: none;
    }
}
