.btn-login {
    color: var(--white); 
    font-size: 16px;
    font-weight: 600;
}
 
 .btn-login{
     border: none;
     background-color: var(--secondary);
 }
 
 .btn-login:hover {
     background-color: var(--hover-effect);
 }
 
 .btn-login:active {
     background-color: var(--active-effect);
 }
 

.div-btn-ok {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.button-ok {
    border: none;
    background-color: var(--positive);
    min-width: 5rem;
    color: var(--white); 
    font-size: 16px;
    font-weight: 600;
}

.button-ok:hover {
    background-color: #5bd6a9;
}

.button-ok:active {
    background-color: #87ddbd;    
}

